@use '../styles';

$nav-text-color: #551a8b;

body {
    margin: 0;
}

header {
    background-color: styles.$main-background-color;
    font-family: styles.$header-font;
    font-size: 2em;

    /* Positioning */
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
    a {
        color: styles.$main-text-color;
        text-decoration: none;
    }
}

hr {
    margin: 0;
}

nav {

    ul {
        list-style-type: none;
        margin: 0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        li {
            margin: 0 0.5rem 0 0.5rem;

            a {
                font-family: styles.$secondary-font;
                text-decoration: none;
                font-size: 1.1rem;
                color: $nav-text-color;
            }
        }
    }
}

section {
    height: "100vh";
    overflow-y: scroll;
}

footer {
    background-color: styles.$main-background-color;
    color: styles.$main-text-color;
    padding: 1rem;
    font-family: styles.$secondary-font;
    
    /* Positioning */
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

[data-icon='record-vinyl'] {
    color: styles.$highlight-icon-color;
    margin-left: 1rem;
}

[data-icon='mug-saucer'] {
    color: styles.$highlight-icon-color;
    margin-left: 0.5rem;
}