@import url('../../styles');

.container {
    background-color: var(--main-background-color);
    height: "100vh" !important;

    padding: 1rem 2rem;
    margin-bottom: 3rem;
    display: flex;
    overflow-y: hidden;
}

.no-news-label {
    text-align: center;
    margin: 6rem auto 0 auto;

    font-size: 1.2rem;
}

.subscribe-btn {
    margin-top: 1rem;
    height: 3rem;
    width: 8rem;
    border-color: var(--secondary-text-color);
    background-color: var(--highlight-icon-color);

    color: var(--main-text-color);
    font-family: var(--secondary-font);
    font-size: 1.25rem;
}