@import url('../../styles');

.events-container {
    background-color: var(--main-background-color);

    padding: 1rem 2rem;
    margin-bottom: 3rem;
    display: flex;
    overflow-y: hidden;
}

.no-events-label {
    text-align: center;
    margin: 6rem auto 0 auto;

    font-size: 1.2rem;
}